body{
    padding: 2rem;
}

nav{

    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

#lista-de-tarefas{

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;

}

